
 .devcards{
    width: 98%;
    display: grid;
    gap: 5%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
     
  }
  /* .navbar{
    z-index: 1000;
  } */
  .dev{
    color: #000;
    /* width: 30%; */
    margin: 10px;
    /* box-sizing: border-box; */
    display: flex;
     flex-direction: column; 
     align-items: center; 
    border-radius: 5%;
    width: 250px; /* Increase the width as needed */
    height: 200px; 
    border: 2px solid rgb(90, 195, 81);
  }
  
  .dev h3{
    color: #041b31;
    text-decoration: underline;

  }
  .dev p{
    color: #21256a;
    text-align: center;
  }
  .media{
    color: #06aa8b;
    display: flex;
    gap: 15%;  
  }
  /* .card{
    
  } */
  .developers{
    width: 80%;
    
    /* margin: 0 auto; */
    /* margin-top:auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red; */
    margin-top: 5%;
    color: #fff;
    /* padding: 7%; */
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
    padding:2%;
    
  }
  .developers h1{
    color: #000;
    text-align: center;
    text-shadow: #7fe0cf;
    

  }
  .container{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: #f4f7f7;
    /* background: linear-gradient(135deg,#a7cbe2,#9b77a9); */
    padding: 10px;
  }
  .contactform{
    max-width: 700px;
    width:100%;
    padding: 50px 30px;
    border-radius: 5px;
    background: white;
    
  }
  .body h2{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    

  }
  form .contactform{
    justify-content: space-between;
    
  }
  .inputfield{
    height: 45px;
    width:700px;
    
  }
  .inputfield textarea{
    width: 500px;
    height: 80px;
    border-radius: 7px;
  }
  .btn button{
    border-radius: 5px;
    background-color: rgb(163, 205, 205);
    cursor: pointer;
    width:20%;
    
  }
  .btn button:hover{
    background: rgb(26, 247, 247);
  }
  .btn{
    text-align: center;
    margin-top: 8em;
    
  }


/*  */