.app{
    margin:50px;
}
.search{
    padding: 10px;
    font-size: 20px;
    border-radius:25px;
    margin-left: 35px;
    margin-bottom: 30px;
    border-color: aqua;
    
}

.list{
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem {
    margin-bottom: 20px;
    font-size: 25px;
    color:#444;
    font-weight: 300;
}